



header{
    width: 100%;
}

#header #header_top .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header #header_top .row #header_top_left{
    margin-right: 15px;
    display: flex;
}

.recherche input[type="text"]{
    height: 45px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 400;
    color: #003661;
    border: solid 1px #dee2e6;
    width: 360px;
    max-width: 100%;
}



#header #header_bottom {
    background-color: #036ba1;
    position: relative;
    z-index: 100;
}
#barre-favoris #barre-favoris-list {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 13%;
    list-style-type: none;
}
#add-favorite .autocomplete {
    position: relative;
    display: flex;
    align-items: center;
}
#add-favorite .autocomplete span {
    font-family: "Quicksand",sans-serif;
    margin-right: 0px;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
}
#add-favorite button {
    width: 30px;
    height: 38px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
